
body{
    font-family: 'Inter', sans-serif;
    
}

.inlineH{
    display: flex;
}
.logo{
    height: 64px;
}
.appname{
    color: #3976bc;
    font-weight: 550;
    height: 64px;
    line-height: 64px;
    margin: 0 10px 0 10px;
}

#titleDiv{
    position: absolute;
    top: 10px;
    left: 10px;
}
#userAndMood{
    position: absolute;
    top: 58px;
    left: 10px;
}
#userAndMood h1{
    font-weight: 400;
}
#moodDiv{
    position: absolute;
    top: 58px;
    left: 10px;
}